/** TOOLBAR STYLES **/

#toolbar {
  background-color: #444;
  -moz-box-shadow: 0 2px 10px #333;
  -webkit-box-shadow: 0 2px 10px #333;
  box-shadow: 0 2px 10px #333;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction='180', strength='10');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=black, direction='180', strength='10')";
}

#toolbar div.toolbar-menu ul li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 0 8px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

div#toolbar div.toolbar-shortcuts ul li a {
padding: 0px 8px;
}

#toolbar div.toolbar-menu {
  background: #2A2A2A;
  line-height: 20px;
  padding: 4px 50px 4px 10px;
  position: relative;
}

div#toolbar div.toolbar-shortcuts ul li a.active:hover, div#toolbar div.toolbar-shortcuts ul li a.active {
  background: #333;
}

#toolbar div.toolbar-menu ul li a.active:hover, #toolbar div.toolbar-menu ul li a.active:active, #toolbar div.toolbar-menu ul li a.active, #toolbar div.toolbar-menu ul li.active-trail a {
  text-shadow: #222 0 1px 0;
  background: #666;
}
